
<div class="pag">
    <div class="top">
        <div class="titulo">TruckWorld - Home
        </div>
    </div>

    <div clascs="secao">
        <div class="blocos">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Usuários
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <p>Cadastro dos Usuarios são realizados através</p>
                <p>dos dados pessoais: CPF, Nome, Usuario, CEP,</p>
                <p>Celular, Telefone, CNH e Categoria, juntamente</p>
                <p>com os dados do veiculo, que são: Marca, Placa,</p>
                <p>Modelo, Carroceria e Média.</p>
                </mat-expansion-panel>
            </mat-accordion> 
        </div>
        <div class="blocos">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Empresas
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <p>Cadastro das Empresas são realizados através</p>
                <p>dos dados da companhia, que são: CNPJ, Nome, </p>
                <p>E-mail, CEP, Celular e Telefone.</p>
                </mat-expansion-panel>
            </mat-accordion> 
        </div>
        <div class="blocos">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Fretes
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <p>Cadastro dos Fretes são estabelecidos através dos</p>
                <p>dados da carga, que são: Descrição, Empresa,</p>
                <p>Valor, Peso, Distância e Combustivel gasto, </p>
                <p>juntamente com a data e local da Coleta, </p>
                <p>data e local da entrega.</p>
                </mat-expansion-panel>
            </mat-accordion> 
        </div>
    </div>
</div>

<div class="gif">
    <img src="https://www.2net.com.br//Repositorio/4978/Conteudos/21902/4499e344-8.gif" alt="TruckWord" class="img"  >
<div>



