<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async) ? 'over' : 'side'"
        [opened]="(isHandset | async) === false">
      <mat-toolbar class="font1">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>Home
        </a>
        <a mat-list-item routerLink="/Usuario">
            <i class="material-icons">
                account_circle
            </i>
            Usuários
        </a>
        <a mat-list-item routerLink="/Empresas">
            <i class="material-icons">
                store
            </i>
            Empresas
        </a>
        <a mat-list-item routerLink="/Fretes">
            <i class="material-icons">
                local_shipping
            </i>
            Fretes
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset | async">
          <mat-icon aria-label="Side nav toggle icon" class="menu">menu</mat-icon>
        </button>
        <span class="font2" >TruckWorld</span>
      </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>